@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Labrada:ital@0;1&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1,
h2,
h3,
p {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 20px;
  font-weight: 400;
}

a {
  font-family: 'Labrada', monospace;
  font-size: 24px;
  text-decoration: none;
  letter-spacing: 2px;
  font-style: italic;
  color: #0066b2;
}

a:hover,
a:focus {
  text-decoration: underline;
  color: #452c63;
}
