@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

p {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 20px;
}

a {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 20px;
  color: #0066b2;
}

a:hover,
a:focus {
  text-decoration: underline;
  color: #452c63;
}
